.action-main {
    margin-top: 40px;
    padding: 10px 40px 10px 60px;
}

.action-datelabel {
    font-size: 15px;
    padding-bottom: 4px;
    color: var(--background-accent);
}

.action-datelabel.active {
    color: var(--foreground-decoration);
}

.greeting {
    padding-top: 10px;
    color: var(--foreground-decoration);
}

.greeting-head {
    color: var(--foreground-color);
}

.free-day {
    color: var(--background-accent);
    padding-left: 5px;
}

.subgreeting {
    margin-left: -1px;
    color: var(--foreground-color);
    opacity: 0.5;
}

.greeting-subhead {
    padding-right: 30px;
}

.action-abtib {
    opacity: 0.01;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px dashed var(--background-decoration);
    border-radius: 5px;
    color: var(--background-decoration);
    margin-right: 60px;
    cursor: pointer;
    transition: opacity 0.5s;
    margin-top: 10px;
}

.action-abtib:hover {
    opacity: 1;
}

.due-soon-box {
    /* margin: 20px 0; */
    border-radius: 5px;
}


.due-soon-header.top.ds {
    color: var(--due-soon);
}

.due-soon-header {
    padding-left: 5px;
    color: var(--foreground-decoration);
    opacity: 0.7;
    font-size: 13px;
    padding-top: 17px;
}

.action-right {
    font-size: 10px;
    padding-left: 4px;
    color: var(--background-decoration);
}

.horizon-switch {
    display: flex;
}
.horizon-switch > .button {
    height: 20px;
    width: 20px;
    font-size: 12px;
    margin-left: -7px;
    margin-right: 12px;
}


.action-datelabel.ds {
    /* color: var(--due-soon-softer); */
}

.action-datelabel.ds .action-left {
    border-bottom: 2px solid var(--background-decoration);
    margin-right: 2px;
    padding-bottom: 0.5px;
}

.action-datelabel.ds.active {
    /* color: var(--due-soon) !important; */
}

.calendar-entry {
    margin: 13px 0 15px 0;
    margin-left: 5px;
    border: 1px dashed var(--background-decoration);
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
    min-height: 60px;
    position: relative;
    cursor: default;
    overflow: hidden;
}

.calendar-time {
    color: var(--foreground-decoration);
    font-size: 10px;
    opacity: 0.5;
    max-height: 100%;
}

.calendar-time.top {
    /* padding-bottom: 5px; */
}
.calendar-time.bottom {
    bottom: 7px;
    position: absolute;
    padding-top: 7px;
}
.calendar-description {
    color: var(--foreground-color);
    opacity: 0.8;
    padding-bottom: 10px;
    font-size: 14px;
    max-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.task-holder {
    margin-top: 10px;
}

.bar-outer {
    background-color: var(--background-decoration);
    height: 20px;
    width: 3px;
    display: inline-block;
    position: relative;
    margin-left: 8px;
    transform: translateY(7px);
}

.bar-inner {
    background-color: var(--foreground-decoration);
    width: 3px;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1000;
    bottom: 0;
}
