.capture-cm {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.capture-options-wrapper {
    display: flex;
    align-items: center;
}
.capture-options-wrapper > i {
    color: var(--foreground-decoration);
    transform: translateY(1px);
}

.capture-options {
    margin-left: 5px;
    margin-bottom: 25px;
}

.capture-options-option .capture-options-select {
}

.capture-options-select {
    -webkit-appearance: none;
    outline: none;
    background: transparent;
    color: var(--foreground-color);
    font-weight: 430;
    transform: translateY(1.25px);
    font-size: 14px;
    padding: 2px 8px;
    margin-right: 16px;
    border-radius: 3px;
}

.capture-options {
    display: flex;
}

.capture-cm-box {
    width: 100%;
    padding: 5px 10px;
    background: var(--background-decoration);
    color: var(--foreground-color);
    border-radius: 3px;
    margin-left: 3px;
    font-size: 14px;
    font-weight: 400;
    font-family: monospace;
}

.capture-cm-box::placeholder {
  opacity: 0.2;
}

.capture-cm-box:focus {
    outline: none;
}

