.captureid-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.captureid-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--background-decoration);
    margin-bottom: 10px;
    margin-right: 2px;
}

.captureid-dot.active {
    background-color: var(--foreground-decoration) !important;
}

.divider-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
}

.divider {
    height: 0.1px;
    border-top: 1px solid var(--background-decoration);
    width: 90%;
}
