.datepicker {
    padding: 8px;
    border-radius: 6px;
    background-color: var(--background-decoration);
}

.datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
}

.datepicker-header-text {
    color: var(--foreground-color);
    font-size: 14px;
    font-weight: 500;
}

.dategrid {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.dategrid-annotation {
    position: relative;
    height: 20px;
    margin-bottom: 3px;
}

.dategrid-annotation-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--foreground-decoration);
    font-size: 12px;
}

.dategrid-cell {
    position: relative;
    width: 28px;
    height: 30px;
    text-align: center;
    color: var(--foreground-color);
    font-weight: 450;
    margin: 2px;
    cursor: pointer;
}

.dategrid-cell.active {
    background-color: var(--background-accent);
    color: var(--foreground-accent)
}

.dategrid-cell.diminished {
    opacity: 0.6 !important;
    color: var(--foreground-decoration) !important;
    background-color: var(--background-decoration)  !important;
}

.dategrid-cell:hover {
    background-color: var(--background-accent);
    opacity: 0.9;
}


.dategrid-cell-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

