.task {
    position: relative;
}

.task-cm > .cm-mountpoint {
    padding: 0;
}

.task-cm .cm-editor {
    padding: 0;
}

.task-cm.deferred > .cm-mountpoint {
    opacity: 0.3 !important;
    /* fixes problem where some platforms flicker */
    -webkit-transform: translateZ(0);
}

.task-actions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -5px;
    font-size: 13px;
    align-items: center;
    justify-content: start;
    padding-left: 5px;
}

.task-action {
    white-space:nowrap;
    color: var(--foreground-decoration);
    cursor: pointer;
    margin-right: 5px;
    padding-top: 4px;
}
.task-action.right {
    margin-right: 0 !important;
}

.floating-task-action {
    position: absolute;
    transform: translateX(-18px) scale(0.8);
}

.task-action:hover {
    color: var(--foreground-color);
}
.task-action.accent {
    color: var(--foreground-color);
}
.nohover {
    color: var(--foreground-decoration) !important;
}

.task-divider-outer {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 20px;
}
.task-divider-inner {
    width: 0px;
    height: 20px;
    border-left: 1px solid var(--background-decoration);
    margin: 0 8px;
}

.tagbar-wrapper {
    width: 100%;
}

.task-tag-bar {
    max-width: 50vw;
    display: flex;
    align-items: center;
}

.task-cm.completed .cm-mountpoint div {
    text-decoration: line-through;
}

.task-cm.due-soon .cm-line {
    color: var(--due-soon) !important;
}
.task-cm.overdue .cm-line {
    color: var(--overdue) !important;
}

.task-action.focus {
    color: var(--foreground-color);
}
