@import url("./extern/fa/css/all.min.css");

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.cm-mountpoint {
    user-select: auto !important;
    -moz-user-select: auto !important;
    -webkit-user-select: auto !important;
}



#rootp {
  padding: 4px 10px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
  width: max-content;
  z-index: 10000000000000;
}

.global {
    background-color: var(--background-color);
    overflow-y: scroll;
    margin-bottom: 40px;
}


#top-hide {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: var(--background-color);
}

.button {
    background-color: var(--background-decoration);
    color: var(--foreground-color);
    padding: 1px 5px;
    border-radius: 2px;
    margin: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: var(--foreground-decoration);
    color: var(--foreground-accent);
}

.button.disabled {
    opacity: 0.3;
    background-color: var(--background-decoration) !important;
    color: var(--foreground-color) !important;
}

#error-modal {
    color: var(--foreground-color);
}

.bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--background-decoration);
    font-size: 13px;
    padding: 0 5px 88px 3px;
    justify-content: space-between;
    height: 115px;
}

.buttom-nav {
}

.bottom-nav-button {
    margin: 5px 0;
    cursor: pointer;
}

.bottom-nav-button.ds {
    border-bottom: 2px solid var(--background-decoration);
}

.bottom-nav-button.active {
    color: var(--foreground-decoration);
}


#logout {
    color: var(--background-decoration);
    cursor: pointer;
    position: absolute;
    font-size: 13px;
    bottom: 15px;
    right: 16px;
}

#logout:hover {
    color: var(--foreground-decoration);
}

