@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
    font-family: "Rubik";
}

@font-face {
  font-family: "Rubik";
  src: url("./extern/Rubik.woff") format('woff');
}


.global {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.global::-webkit-scrollbar {
    display: none;
}


::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    height: 0;
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb { */
/*     background: #FF0000; */
/* } */
