#theme-box {
    --background-color: white;
    --background-decoration: #ededed;
    --background-accent: #fafafa;

    --foreground-decoration: #c7c7c7;
    --foreground-color: #404040;
    --foreground-accent: black;

    --due-soon: #eb9317;
    --due-soon-softer: #eb9317;
    --overdue: #f53d1d;
}

#theme-box.dark {
    --background-color: #282c34;
    --background-decoration: #3a414f;
    --background-accent: #484f5e;

    --foreground-decoration: #7787a3;
    --foreground-color: #abb2bf;
    --foreground-accent: white;

    --due-soon: #e0a95c;
    --due-soon-softer: #cc8625;
    --overdue: #f53d1d;
}


