#theme-box {
    --background-color: white;
    --background-decoration: #e3e3e3;

    --foreground-decoration: #878787;
    --foreground-color: #fafafa;
    --foreground-accent: white;
}

#theme-box.dark {
    --background-color: #282c34;
    --background-decoration: #3a414f;

    --foreground-decoration: #7787a3;
    --foreground-color: #fafafa;
    --foreground-accent: white;
}


